### All State covid Data

# list of All state 
#### [Maharashtra,Karnataka,Andhra Pradesh,Tamil Nadu,Kerala,Delhi,Uttar Pradesh,West Bengal,Odisha,Rajasthan,Telangana,
#### Chhattisgarh,Haryana,Bihar,Gujarat,Madhya Pradesh,Assam,Punjab,Jammu and Kashmir,Jharkhand,Uttarakhand,Goa,Himachal Pradesh
#### Puducherry,Tripura,Manipur,Chandigarh,Arunachal Pradesh,Meghalaya,Nagaland,Ladakh,Sikkim,Andaman and Nicobar Islands,Mizoram
#### Dadra and Nagar Haveli and Daman and Diu,Dadra and Nagar Haveli]

In [1]:
import pandas as pd 
pd.set_option('display.max_rows', None)

### Maharashtra State

In [2]:
Datamaha = pd.read_html("https://coronaclusters.in/maharashtra")

In [3]:
Datamaha = pd.DataFrame(Datamaha[0])

In [4]:
Datamaha.head(2)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Last Updated
0,Pune,781,0,36,0,29,716,2020-04-22 18:38:56
1,Mumbai,3227,0,33,0,26,3168,2020-04-22 18:38:57

In [5]:
Datamaha.drop("Last Updated", inplace=True,axis=1)

In [150]:
Datamaha.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Pune,781,0,36,0,29,716

## Karnataka State

In [7]:
DataKar = pd.read_html("https://coronaclusters.in/karnataka")

In [8]:
Datakar = pd.DataFrame(DataKar[0])

In [9]:
Datakar.drop("Last Updated",inplace= True,axis=1)

In [151]:
Datakar.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Bengaluru Urban,349,0,7,0,102,240

## Andhra Pradesh State

In [11]:
DataAndra = pd.read_html("https://coronaclusters.in/andhra-pradesh")

In [12]:
DataAndra = pd.DataFrame(DataAndra[0])

In [13]:
DataAndra.drop("Last Updated",inplace= True,axis=1)

In [14]:
DataAndra.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,S.P.S. Nellore,121,0,2,0,17,102

## Tamil Nadu State

In [15]:
DataTamil = pd.read_html("https://coronaclusters.in/tamil-nadu")

In [16]:
DataTamil = pd.DataFrame(DataTamil[0])

In [17]:
DataTamil.drop("Last Updated",inplace= True,axis=1)

In [152]:
DataTamil.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Kancheepuram,277,0,0,0,17,260

In [ ]:
 ### Adding State here

In [80]:
#frame = [Datamaha,Datakar,DataAndra,DataTamil]

In [81]:
#Result = pd.concat(frame)

In [83]:
#Result.shape

(123, 7)

 ## Kerala State

In [19]:
DataKerala = pd.read_html("https://coronaclusters.in/kerala")

In [20]:
DataKerala = pd.DataFrame(DataKerala[0])

In [21]:
DataKerala.drop("Last Updated",inplace= True,axis=1)

In [23]:
DataKerala.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Thrissur,26,0,1,0,3,22

## Delhi State

In [24]:
DataDelhi = pd.read_html("https://coronaclusters.in/delhi")

In [25]:
DataDelhi = pd.DataFrame(DataDelhi[0])

In [26]:
DataDelhi.drop("Last Updated",inplace= True,axis=1)

In [153]:
DataDelhi.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,East Delhi,1,0,0,0,1,0

## Uttar - Pradesh

In [28]:
DataUp = pd.read_html("https://coronaclusters.in/uttar-pradesh")

In [29]:
DataUp = pd.DataFrame(DataUp[0])

In [30]:
DataUp.drop("Last Updated",inplace= True,axis=1)

In [154]:
DataUp.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Agra,432,0,8,0,24,400

## west-bengal State

In [32]:
DataWstbglState = pd.read_html("https://coronaclusters.in/west-bengal")

In [33]:
DataWstbglState = pd.DataFrame(DataWstbglState[0])

In [34]:
DataWstbglState.drop("Last Updated",inplace= True,axis=1)

In [35]:
DataWstbglState.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Kolkata,73,0,21,0,22,30

## odisha State

In [36]:
Dataodisha = pd.read_html("https://coronaclusters.in/odisha")

In [37]:
Dataodisha = pd.DataFrame(Dataodisha[0])

In [38]:
Dataodisha.drop("Last Updated",inplace= True,axis=1)

In [155]:
Dataodisha.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Khordha,70,0,3,0,9,58

## Rajasthan State

In [40]:
DataRajasthan = pd.read_html("https://coronaclusters.in/rajasthan")

In [41]:
DataRajasthan = pd.DataFrame(DataRajasthan[0])

In [42]:
DataRajasthan.drop("Last Updated",inplace= True,axis=1)

In [156]:
DataRajasthan.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Italians,2,0,0,0,2,0

## telangana State

In [44]:
DataTelangana = pd.read_html("https://coronaclusters.in/telangana")

In [45]:
DataTelangana = pd.DataFrame(DataTelangana[0])

In [46]:
DataTelangana.drop("Last Updated",inplace= True,axis=1)

In [176]:
DataTelangana.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Hyderabad,593,0,6,0,9,578

## chhattisgarh State

In [48]:
Datachhattis = pd.read_html("https://coronaclusters.in/chhattisgarh")

In [49]:
Datachhattis = pd.DataFrame(Datachhattis[0])

In [50]:
Datachhattis.drop("Last Updated",inplace= True,axis=1)

In [51]:
Datachhattis.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Raipur,10,0,0,0,7,3

## haryana State

In [52]:
Dataharyana = pd.read_html("https://coronaclusters.in/haryana")

In [53]:
Dataharyana = pd.DataFrame(Dataharyana[0])

In [54]:
Dataharyana.drop("Last Updated",inplace= True,axis=1)

In [55]:
Dataharyana.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Italians,14,0,0,0,12,2

## Bihar State

In [56]:
DataBihar = pd.read_html("https://coronaclusters.in/bihar")

In [57]:
DataBihar = pd.DataFrame(DataBihar[0])

In [58]:
DataBihar.drop("Last Updated",inplace= True,axis=1)

In [181]:
DataBihar.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Munger,156,0,1,0,17,138

## gujarat State

In [60]:
DataGuj = pd.read_html("https://coronaclusters.in/gujarat")

In [61]:
DataGuj = pd.DataFrame(DataGuj[0])

In [62]:
DataGuj.drop("Last Updated",inplace= True,axis=1)

In [182]:
DataGuj.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Rajkot,71,0,2,0,11,58

## madhya-pradesh State

In [64]:
DataMP = pd.read_html("https://coronaclusters.in/madhya-pradesh")

In [65]:
DataMP = pd.DataFrame(DataMP[0])

In [66]:
DataMP.drop("Last Updated",inplace= True,axis=1)

In [183]:
DataMP.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Jabalpur,109,0,6,0,18,85

## Assam State

In [68]:
DataAssam = pd.read_html("https://coronaclusters.in/assam")

In [69]:
DataAssam = pd.DataFrame(DataAssam[0])

In [70]:
DataAssam.drop("Last Updated",inplace= True,axis=1)

In [184]:
DataAssam.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Cachar,24,0,0,0,9,15

## punjab State

In [72]:
DataPunja = pd.read_html("https://coronaclusters.in/punjab")

In [73]:
DataPunja = pd.DataFrame(DataPunja[0])

In [74]:
DataPunja.drop("Last Updated",inplace= True,axis=1)

In [185]:
DataPunja.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Amritsar,41,0,3,0,4,34

## jammu-and-kashmir State

In [76]:
DataJammu = pd.read_html("https://coronaclusters.in/jammu-and-kashmir")

In [77]:
DataJammu = pd.DataFrame(DataJammu[0])

In [78]:
DataJammu.drop("Last Updated",inplace= True,axis=1)

In [186]:
DataJammu.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Jammu,46,0,1,0,7,38

## jharkhand State

In [80]:
DataJharkhand = pd.read_html("https://coronaclusters.in/jharkhand")

In [81]:
DataJharkhand = pd.DataFrame(DataJharkhand[0])

In [82]:
DataJharkhand.drop("Last Updated",inplace= True,axis=1)

In [83]:
DataJharkhand.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Ranchi,90,0,0,0,13,77

## uttarakhand State

In [187]:
Data_uttarakhand = pd.read_html("https://coronaclusters.in/uttarakhand")

In [189]:
Data_uttarakhand = pd.DataFrame(Data_uttarakhand[0])

In [190]:
Data_uttarakhand.drop("Last Updated",inplace= True,axis=1)

In [191]:
Data_uttarakhand.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Dehradun,49,0,1,0,8,40

## Goa State

In [88]:
DataGoa = pd.read_html("https://coronaclusters.in/goa")

In [89]:
DataGoa = pd.DataFrame(DataGoa[0])

In [90]:
DataGoa.drop("Last Updated",inplace= True,axis=1)

In [192]:
DataGoa.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,North Goa,4,0,0,0,0,4

## himachal-pradesh State

In [193]:
Datahimachal = pd.read_html("https://coronaclusters.in/himachal-pradesh")

In [195]:
Datahimachal = pd.DataFrame(Datahimachal[0])

In [196]:
Datahimachal.drop("Last Updated",inplace= True,axis=1)

In [197]:
Datahimachal.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Kangra,32,0,1,0,6,25

## puducherry State

In [198]:
Datapuducherry = pd.read_html("https://coronaclusters.in/puducherry")

In [199]:
Datapuducherry = pd.DataFrame(Datapuducherry[0])

In [200]:
Datapuducherry.drop("Last Updated",inplace= True,axis=1)

In [201]:
Datapuducherry.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Mahe,5,0,0,0,1,4

## tripura State

In [202]:
DataTri = pd.read_html("https://coronaclusters.in/tripura")

In [203]:
DataTri = pd.DataFrame(DataTri[0])

In [204]:
DataTri.drop("Last Updated",inplace= True,axis=1)

In [205]:
DataTri.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Gomati,3,0,0,0,0,3

## Manipur State

In [206]:
DataMani = pd.read_html("https://coronaclusters.in/manipur")

In [207]:
DataMani = pd.DataFrame(DataMani[0])

In [208]:
DataMani.drop("Last Updated",inplace= True,axis=1)

In [209]:
DataMani.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Imphal West,7,0,0,0,1,6

## chandigarh State

In [210]:
DataChandi = pd.read_html("https://coronaclusters.in/chandigarh")

In [211]:
DataChandi = pd.DataFrame(DataChandi[0])

In [212]:
DataChandi.drop("Last Updated",inplace= True,axis=1)

In [213]:
DataChandi.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Chandigarh,235,0,3,0,34,198

## Arunachal-pradesh State

In [214]:
DataAp = pd.read_html("https://coronaclusters.in/arunachal-pradesh")

In [215]:
DataAp = pd.DataFrame(DataAp[0])

In [216]:
DataAp.drop("Last Updated",inplace= True,axis=1)

In [217]:
DataAp.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Lohit,1,0,0,0,0,1

## meghalaya State

In [218]:
DataMega = pd.read_html("https://coronaclusters.in/meghalaya")

In [219]:
DataMega = pd.DataFrame(DataMega[0])

In [220]:
DataMega.drop("Last Updated",inplace= True,axis=1)

In [221]:
DataMega.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,East Khasi Hills,18,0,0,0,5,13

## ladakh State

In [222]:
DataLadakh = pd.read_html("https://coronaclusters.in/ladakh")

In [223]:
DataLadakh = pd.DataFrame(DataLadakh[0])

In [224]:
DataLadakh.drop("Last Updated",inplace= True,axis=1)

In [225]:
DataLadakh.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Leh,23,0,0,0,5,18

## sikkim State

In [226]:
DataSikkim = pd.read_html("https://coronaclusters.in/sikkim")

In [227]:
DataSikkim = pd.DataFrame(DataSikkim[0])

In [228]:
DataSikkim.drop("Last Updated",inplace= True,axis=1)

In [135]:
DataSikkim.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,South Sikkim,1,0,0,0,0,1

## andaman-and-nicobar-islands State

In [229]:
DataAndNico = pd.read_html("https://coronaclusters.in/andaman-and-nicobar-islands")

In [230]:
DataAndNico = pd.DataFrame(DataAndNico[0])

In [231]:
DataAndNico.drop("Last Updated",inplace= True,axis=1)

In [232]:
DataAndNico.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,South Andaman,38,0,0,0,16,22

## mizoram State

In [233]:
DataMizo = pd.read_html("https://coronaclusters.in/mizoram")

In [234]:
DataMizo = pd.DataFrame(DataMizo[0])

In [235]:
DataMizo.drop("Last Updated",inplace= True,axis=1)

In [236]:
DataMizo.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Aizawl,2,0,0,0,1,1

## daman-and-diu State

In [237]:
DataDaman = pd.read_html("https://coronaclusters.in/dadra-and-nagar-haveli-and-daman-and-diu")

In [238]:
DataDaman = pd.DataFrame(DataDaman[0])

In [239]:
DataDaman.drop("Last Updated",inplace= True,axis=1)

In [240]:
DataDaman.head(1)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Dadra and Nagar Haveli,3,0,0,0,1,2

In [241]:
AllState = [Datamaha,Datakar,DataAndra,DataTamil,DataKerala,DataDelhi,DataUp,DataWstbglState,Dataodisha,DataRajasthan,
            DataTelangana,Datachhattis,Dataharyana,DataBihar,DataGuj,DataMP,DataAssam,DataPunja,DataJammu,DataJharkhand,
            Data_uttarakhand,DataGoa,Datahimachal,Datapuducherry,DataTri,DataMani,DataChandi,DataAp,DataMega,DataLadakh,
            DataSikkim,DataAndNico,DataMizo,DataDaman]

In [242]:
FinalState = pd.concat(AllState)

In [245]:
FinalState.head(100)

,District,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases
0,Pune,781,0,36,0,29,716
1,Mumbai,3227,0,33,0,26,3168
2,Nagpur,131,0,4,0,20,107
3,Ahmednagar,56,0,2,0,8,46
4,Thane,466,0,17,0,23,426
5,Raigad,93,0,7,0,16,70
6,Yavatmal,39,0,0,0,8,31
7,Aurangabad,93,0,20,0,15,58
8,Ratnagiri,33,0,2,0,5,26
9,Palghar,142,0,8,0,20,114
10,Sangli,53,0,0,0,9,44
11,Satara,54,0,2,0,20,32
12,Sindhudurg,15,0,2,0,3,10
13,Gondia,4,0,0,0,0,4
14,Kolhapur,29,0,1,0,4,24
15,Unknown,3334,3334,4,0,13,3317
16,Jalgaon,53,0,12,0,13,28
17,Buldhana,44,0,1,0,11,32
18,Nashik,111,0,8,0,15,88
19,Osmanabad,11,0,0,0,1,10
20,Washim,10,0,0,0,4,6
21,Hingoli,33,0,0,0,10,23
22,Amravati,44,0,6,0,10,28
23,Latur,27,0,1,0,5,21
24,Jalna,22,0,0,0,6,16
25,Parbhani,12,0,1,0,1,10
26,Akola,69,0,7,0,18,44
27,Beed,5,0,0,0,0,5
28,Solapur,73,0,14,0,13,46
29,Dhule,36,0,3,0,12,21
30,Chandrapur,8,0,0,0,1,7
31,Nandurbar,18,0,1,0,5,12
32,Nanded,29,0,5,0,7,17
33,Bhandara,5,0,0,0,1,4
34,Other State,22,0,9,0,0,13
35,Wardha,4,0,1,0,0,3
36,Gadchiroli,5,0,0,0,0,5
0,Bengaluru Urban,349,0,7,0,102,240
1,Kalaburagi,194,0,6,0,57,131
2,Kodagu,2,0,0,0,1,1
3,Chikkaballapura,106,0,1,0,13,92
4,Mysuru,142,0,0,0,61,81
5,Dharwad,46,0,0,0,9,37
6,Uttara Kannada,70,0,0,0,6,64
7,Other State,28,0,1,0,13,14
8,Udupi,54,0,1,0,0,53
9,Chitradurga,11,0,0,0,1,10
10,Dakshina Kannada,72,0,5,0,11,56
11,Tumakuru,29,0,2,0,4,23
12,Davanagere,149,0,4,0,28,117
13,Ballari,42,0,1,0,8,33
14,Bidar,94,0,2,0,13,79
15,Bagalkote,118,0,1,0,41,76
16,Belagavi,180,0,1,0,53,126
17,Bengaluru Rural,12,0,0,0,1,11
18,Gadag,39,0,1,0,4,34
19,Mandya,259,0,0,0,22,237
20,Vijayapura,111,0,3,0,41,67
21,Haveri,6,0,0,0,0,6
22,Shivamogga,34,0,0,0,0,34
23,Yadgir,86,0,0,0,0,86
24,Hassan,85,0,0,0,0,85
25,Kolar,14,0,0,0,0,14
26,Raichur,66,0,0,0,0,66
27,Koppal,3,0,0,0,0,3
28,Chikkamagaluru,10,0,0,0,0,10
0,S.P.S. Nellore,121,0,2,0,17,102
1,Prakasam,71,0,0,0,7,64
2,Visakhapatnam,53,0,1,0,10,42
3,East Godavari,62,0,0,0,11,51
4,Krishna,316,0,7,0,19,290
5,Chittoor,106,0,1,0,11,94
6,Guntur,359,0,0,0,18,341
7,Kurnool,535,0,12,0,19,504
8,Anantapur,105,0,0,0,17,88
9,West Godavari,77,0,0,0,13,64
10,Y.S.R. Kadapa,106,0,0,0,12,94
11,Srikakulam,11,0,0,0,3,8
12,Unknown,12,12,1,0,5,6
13,Other State,24,0,0,0,3,21
14,Vizianagaram,6,0,0,0,1,5
0,Kancheepuram,277,0,0,0,17,260
1,Chennai,10072,0,63,0,26,9983
2,Erode,72,0,0,0,5,67
3,Coimbatore,155,0,1,0,7,147
4,Tirunelveli,304,0,1,0,16,287
5,Tiruppur,121,0,0,0,7,114
6,Madurai,244,0,1,0,16,227
7,Chengalpattu,739,0,2,0,16,721
8,Salem,60,0,0,0,8,52
9,Ranipet,101,0,0,0,11,90
10,Thanjavur,92,0,0,0,15,77
11,Vellore,51,0,0,0,10,41
12,Virudhunagar,112,0,0,0,13,99
13,Karur,86,0,0,0,6,80
14,Tiruvannamalai,193,0,0,0,8,185
15,Viluppuram,354,0,0,0,16,338
16,Namakkal,84,0,0,0,7,77
17,Kanyakumari,59,0,1,0,7,51
18,Thoothukkudi,157,0,1,0,6,150

In [247]:
FinalState.shape

(662, 7)

In [246]:
FinalState.isnull().sum()

District           0
Total Cases        0
New Cases          0
Total Deaths       0
New Deaths         0
Total Recovered    0
Active Cases       0
dtype: int64